/* ==========================================================================
    DEFAULT THEME - LIGHT VERSION
    ========================================================================== */
/* Color codes used for the theme — Kraken design system */
$primary-color              : #7132f5;
$primary-dark               : #5741d8;
$primary-deep               : #5b1ecf;
$gray                       : #686b82;
$dark-gray                  : #101114;
$darker-gray                : #484b5e;
$light-gray                 : #9497a9;
$lighter-gray               : #dedee5;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #7132f5;
$notice-color               : #686b82;
$success-color              : #149e61;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 12px;
$box-shadow                 : rgba(0,0,0,0.03) 0px 4px 24px;
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #ffffff;
    --global-footer-bg-color            : #f5f5f8;
    --global-border-color               : #{$lighter-gray};
    --global-dark-border-color          : #c8c8d2;
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : #{$light-gray};
    --global-link-color                 : #{$primary-color};
    --global-link-color-hover           : #{$primary-dark};
    --global-link-color-visited         : #{$primary-deep};
    --global-masthead-link-color        : #{$dark-gray};
    --global-masthead-link-color-hover  : #{$primary-color};
    --global-text-color                 : #{$dark-gray};
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{$lighter-gray};
}

